# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore OS files
.DS_Store

# Ignore local data files
data/*
!data/chunks.jsonl
notebooks/

# Ignore IDE/project configs
.vscode/
.idea/
.chroma/
*.sqlite3
*.bin



















.DS_Store
